<div class="container">
  <div class="dashboard">
    <h4>SpaceX Ships</h4>
    <ul class="list-container">
      <li class="list-item">
        <div class="fx list-item-header">
          <h5>GO Ms Chief</h5>
          <a href="#">
            <span>&#8594;</span>
          </a>
        </div>
        <div class="fx fx-start list-item-details">
          <span>Тип</span>
          <a href="#">Barge</a>

          <span>Порт</span>
          <a href="#">Port Canaveral</a>
        </div>
      </li>
      <li class="list-item">
        <div class="fx list-item-header">
          <h5>GO Ms Chief</h5>
          <a href="#">
            <span>&#8594;</span>
          </a>
        </div>
        <div class="fx fx-start list-item-details">
          <span>Тип</span>
          <a href="#">Barge</a>

          <span>Порт</span>
          <a href="#">Port Canaveral</a>
        </div>
      </li>
      <li class="list-item">
        <div class="fx list-item-header">
          <h5>GO Ms Chief</h5>
          <a href="#">
            <span>&#8594;</span>
          </a>
        </div>
        <div class="fx fx-start list-item-details">
          <span>Тип</span>
          <a href="#">Barge</a>

          <span>Порт</span>
          <a href="#">Port Canaveral</a>
        </div>
      </li>
      <li class="list-item">
        <div class="fx list-item-header">
          <h5>GO Ms Chief</h5>
          <a href="#">
            <span>&#8594;</span>
          </a>
        </div>
        <div class="fx fx-start list-item-details">
          <span>Тип</span>
          <a href="#">Barge</a>

          <span>Порт</span>
          <a href="#">Port Canaveral</a>
        </div>
      </li>
      <li class="list-item">
        <div class="fx list-item-header">
          <h5>GO Ms Chief</h5>
          <a href="#">
            <span>&#8594;</span>
          </a>
        </div>
        <div class="fx fx-start list-item-details">
          <span>Тип</span>
          <a href="#">Barge</a>

          <span>Порт</span>
          <a href="#">Port Canaveral</a>
        </div>
      </li>
    </ul>

    <ul class="pager-container">
      <li class="page-item"><a href="#" class="disabled"><</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#" class="enabled">></a></li>
    </ul>
  </div>

  <div class="filter">
    <h4>Filters</h4>
  </div>
</div>
