<ul class="list-container">
  <li class="list-item">
    <div class="fx list-item-header">
      <h5>GO Ms Chief</h5>
      <a href="#">
        <span>&#8594;</span>
      </a>
    </div>
    <div class="fx fx-start list-item-details">
      <span>Тип</span>
      <a href="#">Barge</a>

      <span>Порт</span>
      <a href="#">Port Canaveral</a>
    </div>
  </li>
  <li class="list-item">
    <div class="fx list-item-header">
      <h5>GO Ms Chief</h5>
      <a href="#">
        <span>&#8594;</span>
      </a>
    </div>
    <div class="fx fx-start list-item-details">
      <span>Тип</span>
      <a href="#">Barge</a>

      <span>Порт</span>
      <a href="#">Port Canaveral</a>
    </div>
  </li>
  <li class="list-item">
    <div class="fx list-item-header">
      <h5>GO Ms Chief</h5>
      <a href="#">
        <span>&#8594;</span>
      </a>
    </div>
    <div class="fx fx-start list-item-details">
      <span>Тип</span>
      <a href="#">Barge</a>

      <span>Порт</span>
      <a href="#">Port Canaveral</a>
    </div>
  </li>
  <li class="list-item">
    <div class="fx list-item-header">
      <h5>GO Ms Chief</h5>
      <a href="#">
        <span>&#8594;</span>
      </a>
    </div>
    <div class="fx fx-start list-item-details">
      <span>Тип</span>
      <a href="#">Barge</a>

      <span>Порт</span>
      <a href="#">Port Canaveral</a>
    </div>
  </li>
  <li class="list-item">
    <div class="fx list-item-header">
      <h5>GO Ms Chief</h5>
      <a href="#">
        <span>&#8594;</span>
      </a>
    </div>
    <div class="fx fx-start list-item-details">
      <span>Тип</span>
      <a href="#">Barge</a>

      <span>Порт</span>
      <a href="#">Port Canaveral</a>
    </div>
  </li>
</ul>
<discovery-paginator></discovery-paginator>
